.close {
  grid-column: 1;
  height: 0.8rem;
  width: 1rem;
  cursor: pointer;

  &::before {
    content: "";
    height: inherit;
    border-left: 1px solid rgb(38, 51, 63);
    position: absolute;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    height: inherit;
    border-left: 1px solid rgb(38, 51, 63);
    position: absolute;
    transform: rotate(-45deg);
  }
}

.close-wrapper {
  padding: auto 2px;
}
