.inputs-wrapper {
  display: flex;

  input {
    margin: 0 0.3rem;
    background-color: white;
    font-style: italic;
    border: 1px solid rgb(166, 180, 196);
    font-size: 0.8rem;
  }

  .stop-word {
    background-color: rgb(223, 229, 236);
    border: 1px solid rgb(166, 180, 196);
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
    margin: 0 0.3rem;
  }
}

.row-wrapper {
  border-radius: 3px;
  border: 1px solid rgb(166, 180, 196);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: start;
  padding: 1rem;
  align-self: stretch;
  margin: 1rem 0;
}
