.query-wrapper {
  background-color: white;
  border: 1px solid rgb(223, 229, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 3rem;
  color: rgb(101, 124, 144);
  font-size: 0.8rem;
  font-style: italic;
}
