select {
  background-color: white;
  color: rgb(30, 51, 65);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.select-wrapper {
  background-color: white;
  color: rgb(30, 51, 65);
  border: 1px solid rgb(166, 180, 196);
  border-radius: 3px;
  padding: 0.2rem;
  margin: 0 0.3rem;
  position: relative;
  display: block;
  overflow: hidden;

  .fa-angle-down {
    margin: 0 0.3rem;
  }
}
