body {
  width: 960px;
  margin: auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 51, 65);
  background-color: rgb(251, 251, 251);
}

.blue-button {
  color: white;
  background-color: rgb(24, 167, 239);
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: none;

  .fa-search {
    color: white;
    margin: 0 0.4rem 0 0;
  }
}

.app-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.app-wrapper {
  margin: 2rem;
  padding: 1rem 0;
}

.grey-button {
  background-color: rgb(166, 180, 196);
  color: white;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 3rem;
  border: none;
}

.result-wrapper {
  margin-top: 2rem;
  border-top: 1px solid rgb(223, 229, 236);
}
